<% include ../partials/header %>

<div class="container">
  <header class="jumbotron blog-header">
    <div class="container">
      <h1>Blog</h1>
      <p>
        <a class="btn btn-primary btn-md" href="/campgrounds/new">Add Your Blog</a>
      </p>
    </div>
  </header>
</div>

<div class="container">
  <p>
    <h2 data-toggle="collapse" data-target="#collapse-af" role="button" aria-expanded="false" aria-controls="#collapse-af"> >> Africa</h2>
  </p>
  <div class="collapse" id="collapse-af">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>

  <p>
    <h2 data-toggle="collapse" data-target="#collapse-as" role="button" aria-expanded="false" aria-controls="collapse-as"> >> Asia</h2>
  </p>
  <div class="collapse" id="collapse-as">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>

  <p>
    <h2 data-toggle="collapse" href="#collapse-eu" role="button" aria-expanded="false" aria-controls="collapse-eu"> >> Europe</h2>
  </p>
  <div class="collapse" id="collapse-eu">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>

  <p>
    <h2 data-toggle="collapse" href="#collapse-na" role="button" aria-expanded="false" aria-controls="collapse-na"> >> North America</h2>
  </p>
  <div class="collapse" id="collapse-na">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>

  <p>
    <h2 data-toggle="collapse" href="#collapse-oc" role="button" aria-expanded="false" aria-controls="collapse-oc"> >> Oceania</h2>
  </p>
  <div class="collapse" id="collapse-oc">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>

  <p>
    <h2 data-toggle="collapse" href="#collapse-sa" role="button" aria-expanded="false" aria-controls="collapse-sa"> >> South America</h2>
  </p>
  <div class="collapse" id="collapse-sa">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
</div>


<% include ../partials/footer %>