<% include partials/header %>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center" id="landing-header">
        <h1>Undiscovered Land</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center" id="sec-title">
        <a class="btn btn-info" href="/">Explore the World</a>
      </div>
    </div>
  </div>
</div>

<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<% include partials/footer %>